@import "~@/styles/variables";

.container {
  display: grid;
  grid-template-areas: "aside main toc";
  grid-template-columns: minmax(250px, auto) minmax(auto, 800px) minmax(
      250px,
      auto
    );

  .main {
    grid-area: main;

    .comment {
      margin-top: 150px;
      margin-bottom: 200px;
    }
  }

  .toc {
    grid-area: toc;

    .innerContainer {
      position: sticky;
      top: 100px;
    }
  }

  .backToHome {
    position: fixed;
    bottom: 100px;
    right: 100px;

    @media screen and (max-width: $mobile-width) {
      position: static;
      bottom: 0px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}
