.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  .userAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .userInfo {
    margin-top: 20px;
    .username {
      font-size: 20px;
      text-align: center;
      color: #262626;
    }
    .userDescription {
      margin-top: 14px;
      font-size: 14px;
      text-align: center;
      color: #262626;
    }
  }
}
