.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right top, #65dfc9, #6cdbeb);

  .glass {
    height: 80vh;
    width: 60%;

    display: flex;

    z-index: 2;
    overflow: hidden;

    backdrop-filter: blur(2rem);
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
  }

  aside {
    width: 300px;
  }

  main {
    flex: 1;
  }
}

.circle {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  border-radius: 50%;

  position: absolute;

  &.circle1 {
    top: 5%;
    right: 10%;
  }

  &.circle2 {
    bottom: 5%;
    left: 10%;
  }
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
