@import "~@/styles/variables";

.container {
  display: grid;
  grid-template-areas: "aside main toc";
  grid-template-columns: 1fr minmax(400px, 800px) 1fr;

  .main {
    grid-area: main;
  }

  .toc {
    grid-area: toc;

    .innerContainer {
      position: sticky;
      top: 100px;
    }
  }

  .backToHome {
    position: fixed;
    bottom: 100px;
    right: 100px;

    @media screen and (max-width: $mobile-width) {
      position: static;
      bottom: 0px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}
